/*extras q usamos 


minuto 35, dice porque lo importamos prmero


*/

$primary:#120D31;
$secondary:#2b2b;
$text-color:#2B2B2B;

$large:6rem;
$medium:2.4rem;
$small:2rem;
$xsmall:1rem;

$font-principal: "Bebas Neue", "arial", sans-serif;


$large:5.2rem;
$medium:2.2rem;
$base:1.6rem;
$xsmall:1.4rem;
